<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="container">
        <header>
            <div id="h_top">
                <ul class="h_mn">
                    <li><button type="button">로그인</button> </li>
                    <li><button type="button">회원가입</button> </li>
                    <li><button type="button">장바구니</button> </li>
                    <li><button type="button">마이페이지</button> </li>
                </ul>
                <div class="h_main">
                    <a href="/main"><img src="/static/images/logo.png" alt="logo"></a>
                </div>
            </div>
            <nav>
                <ul class="nav">
                    <li><button type="button">OUTER</button></li>
                    <li><button type="button">TOP</button></li>
                    <li><button type="button">BOTTOM</button></li>
                    <li><button type="button">HEADWEAR</button></li>
                    <li><button type="button">ACCESSORY</button></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="mySlides fade">
                <img src="/static/images/main_img1.jpg" class="main1">
            </div>
            <div class="mySlides fade">
                <img src="/static/images/main_img2.jpg" class="main2">
            </div>
            <div class="mySlides fade">
                <img src="/static/images/main_img3.jpg" class="main3">
            </div>
        </main>
        <article>
            <div id="category">
                <h3>OUTER<button type="button" class="more">more ></button></h3>
                <ul class="outer">
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/outer/outer (1).jpg" alt="outer이미지"></a>
                        <button type="button">[앰비션뮤직] QUILTED JACKET</button>
                        <span>109,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/outer/outer (2).jpg" alt="outer이미지"></a>
                        <button type="button">[런디에스] hard damage trucker jacket</button>
                        <span>129,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/outer/outer (3).jpg" alt="outer이미지"></a>
                        <button type="button">[스티그마]21 BEAR OVERSIZED MA-1 JACKET - BLACK</button>
                        <span>139,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/outer/outer (4).jpg" alt="outer이미지"></a>
                        <button type="button">[큐티에잇] WA Cotton Raglan Jacket (Purple)</button>
                        <span>99,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/outer/outer (5).jpg" alt="outer이미지"></a>
                        <button type="button">[큐티에잇] WA Retro Track Jacket (Black/Purple/Blue)</button>
                        <span>129,000 원</span>
                    </li>
                </ul>
                <h3>TOP<button type="button" class="more">more ></button></h3>
                <ul class="top">
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/top/top (1).jpg" alt="top이미지"></a>
                        <button type="button">[큐티에잇] WA Garden Club Tee (Ivory)</button>
                        <span>79,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/top/top (2).jpg" alt="top이미지"></a>
                        <button type="button">[큐티에잇] WA Garden Club Tee (Navy)</button>
                        <span>79,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/top/top (3).jpg" alt="top이미지"></a>
                        <button type="button">[크루치] LOVE ME CROP SLEEVELESS (WHITE)</button>
                        <span>79,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/top/top (4).jpg" alt="top이미지"></a>
                        <button type="button">[키매] doodle hoodie</button>
                        <span>79,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/top/top (5).jpg" alt="top이미지"></a>
                        <button type="button">[키매] heart puzzle hoodie</button>
                        <span>79,000 원</span>
                    </li>
                </ul>
                <h3>BOTTOM<button type="button" class="more">more ></button></h3>
                <ul class="bottom">
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/bottom/bottom (1).jpg" alt="bottom이미지"></a>
                        <button type="button">[크루치] DANGEROUS SWEAT PANTS (BLACK)</button>
                        <span>49,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/bottom/bottom (2).jpg" alt="bottom이미지"></a>
                        <button type="button">[도미넌트] 타이다이 페이즐리 워싱 팬츠</button>
                        <span>59,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/bottom/bottom (3).jpg" alt="bottom이미지"></a>
                        <button type="button">[런디에스] flower bleach wide denim pants)</button>
                        <span>49,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/bottom/bottom (4).jpg" alt="bottom이미지"></a>
                        <button type="button">[스티그마]22 PAINTING SHORTS - WHITE MULTI</button>
                        <span>39,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/bottom/bottom (5).png" alt="bottom이미지"></a>
                        <button type="button">[퓨처랩] WASHED SWEAT PANTS</button>
                        <span>69,000 원</span>
                    </li>
                    
                </ul>
                <h3>HEADWEAR<button type="button" class="more">more ></button></h3>
                <ul class="headwear">
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/headwear/headwear (1).jpg" alt="hw이미지"></a>
                        <button type="button">[런디에스] bleach flame cap</button>
                        <span>29,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/headwear/headwear (2).jpg" alt="hw이미지"></a>
                        <button type="button">[런디에스]needlework logo cap (black)</button>
                        <span>20,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/headwear/headwear (3).jpg" alt="hw이미지"></a>
                        <button type="button">[스티그마]22 GOTHIC BASEBALL CAP - BLACK</button>
                        <span>19,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/headwear/headwear (4).jpg" alt="hw이미지"></a>
                        <button type="button">[안티히어로] LIL BLACK HERO Cuff Beanie - ORANGE 50220102D00</button>
                        <span>17,900 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/headwear/headwear (5).jpg" alt="hw이미지"></a>
                        <button type="button">[크루치] SUMMER OF LOVE MESH CAP (GREEN)</button>
                        <span>18,750 원</span>
                    </li>
                </ul>
                <h3>ACCESSORY<button type="button" class="more">more ></button></h3>
                <ul class="acc">
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/acc/acc (4).jpg" alt="acc이미지"></a>
                        <button type="button">[런디에스] mini clip keyring</button>
                        <span>12,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/acc/acc (1).jpg" alt="acc이미지"></a>
                        <button type="button">[러쉬오프] 블랙 하트 펜던트 귀찌 (써지컬스틸 귀찌)</button>
                        <span>17,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/acc/acc (2).jpg" alt="acc이미지"></a>
                        <button type="button">[러쉬오프] 써지컬스틸 데일리 볼 펜던트 목걸이</button>
                        <span>14,000 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/acc/acc (3).jpg" alt="acc이미지"></a>
                        <button type="button">[런디에스] love mix necklace (pink mix)</button>
                        <span>11,900 원</span>
                    </li>
                    <li class="product">
                        <a href="/product/detailpage"><img src="/static/images/acc/acc (5).jpg" alt="acc이미지"></a>
                        <button type="button">[런디에스] multi beads bracelet 02</button>
                        <span>11,900 원</span>
                    </li>
                </ul>
            </div>
            <div class="view_up">
                <button type="button"><i class="fa-solid fa-arrow-up"></i></button>
            </div>
        </article>
        <footer>
            <div class="f_in">
                <ul class="f_info">
                    <li><button type="button">회사소개</button></li>
                    <li><button type="button">이용약관</button></li>
                    <li><button type="button">쇼핑몰이용안내</button></li>
                    <li><button type="button">개인정보취급방침</button></li>
                    <li><button type="button">고객센터</button></li>
                </ul>
                <div class="f_info2">
                    <div class="customer">
                        <h3>CUSTOMER CENTER</h3>
                        <strong><i class="fa-solid fa-phone"></i>  1600-1593</strong>
                        <span><b>평일</b> 오전 10:00 ~ 오후 06:00</span>
                        <span><b>점심</b> 오후 01:00 ~ 오후 02:00</span>
                        <span><b>온라인 고객센터</b> 1600-1593 (내선번호 1번)</span>
                    </div>
                    <div class="return">
                        <h3>RETURN & EXCHANGE</h3>
                        <strong>온라인 스토어는 각 입점업체(브랜드)에서 발송되는 상품과
                            자체 발송되는 상품으로 나누어져 있습니다.<br></strong>
                        <span>브랜드 및 제품에 따라 출고지가 다르기 때문에 고객님께 보낸 주소 그대로
                            <br>각 입점 업체측으로 반송하셔야 처리됩니다.
                            <br>각 브랜드 주소가 아닌 온라인스토어로 반품을 보내실 경우
                            <br>처리지연 또는 추가 배송비가 발생할 수 있습니다.
                        </span>
                    </div>
                </div>
                    <address>
                        <h3>회사정보</h3>
                        <span>상호명: 주식회사롸킥스  대표자명: 정현우  대표전화: 1600-1593
                            <br>소재지: 14558 경기도 부천시 원미동 9-9 3층
                            <br>사업자 등록번호: 372-87-01069
                        </span>
                    </address>
            </div>
        </footer>
    </div>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/head-nav.js"></script>
</body>
</html>