<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="/static/css/mypagebasic.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mypagestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>
<body>
    <div id="container">
        <header>
            <div id="h_top">
                <ul class="h_mn">
                    <li><button type="button">로그인</button> </li>
                    <li><button type="button">회원가입</button> </li>
                    <li><button type="button">장바구니</button> </li>
                    <li><button type="button">마이페이지</button> </li>
                </ul>
                <div class="h_main">
                    <a href="/main"><img src="/static/images/mypage_imgs/logo.png" alt="logo"></a>
                </div>
            </div>
            <nav>
                <ul class="nav">
                    <li><button type="button">OUTER</button></li>
                    <li><button type="button">TOP</button></li>
                    <li><button type="button">BOTTOM</button></li>
                    <li><button type="button">HEADWEAR</button></li>
                    <li><button type="button">ACCESSORY</button></li>
                </ul>
            </nav>
        </header>
        <!-- 마이페이지  -->
        <article>
            <div id="content">
                <div class="titleArea">
                    <h3>&nbsp마이 쇼핑</h3>
                </div>
                <div class="membershiptier_bg">
                    <div class="membershiptier">
                        <p class="user">
                            <img src="/static/images/mypage_imgs/user.jpg" alt="유저"></i>
                        </p>
                        <div class="description">
                            <span class="user_tier">저희 쇼핑몰을 이용해 주셔서 감사합니다
                                현재 회원님의 등급은 [BRONZE] 입니다<br>
                                &nbsp&nbsp&nbsp&nbsp[SILVER] 까지 남은 구매금액은 ₩100,000 입니다. 
                                승급 기준에 따른 예상 금액이므로 총주문 금액과 다를 수 있습니다.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mileage">
                    <div class="mleft">
                        <ul class="mleft-space">
                            <li>
                                <strong class="mleft-title">가용적립금</strong>
                                <strong class="mleft-content">0</strong>
                            </li>
                            <li>
                                <strong class="mleft-title">사용적립금</strong>
                                <strong class="mleft-content">0</strong>
                            </li>
                            <li>
                                <strong class="mleft-title">총주문</strong>
                                <strong class="mleft-content">0</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="mright">
                        <ul class="mright-space">
                            <li>
                                <strong class="mright-title">총 적립금</strong>
                                <strong class="mright-content">0</strong>
                            </li>
                            <li>
                                <strong class="mright-title">예치금</strong>
                                <strong class="mright-content">0</strong>
                            </li>
                            <li>
                                <strong class="mright-title">쿠폰</strong>
                                <strong class="mright-content">0</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="myorder">
                    <div class="myorder-title">
                        <h3>나의 주문현황</h3>
                    </div>
                    <div class="state">
                        <ul class="state-detail">
                            <li>
                                <strong>입금 전</strong>
                                <a href="">
                                    <span class="count">0</span>
                                </a>
                            </li>
                            <li>
                                <strong>배송 준비 중</strong>
                                <a href="">
                                    <span class="count">0</span>
                                </a>
                            </li>
                            <li>
                                <strong>배송 중</strong>
                                <a href="">
                                    <span class="count">0</span>
                                </a>
                            </li>
                            <li>
                                <strong>배송 완료</strong>
                                <a href="">
                                    <span class="count">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="myShopMain" class="myShopMain-detail">
                    <ul class="shopMainSpace">
                        <li class="shopMain-order">
                            <img src="/static/images/mypage_imgs/order.png" alt="주문">
                            <a class="myShopMain-text-link" href=""><br>주문내역 조회</a>
                            <p>고객님께서 주문하신 상품의
                                주문내역을 확인하실 수 있습니다.</p>
                            
                        </li>
                        <li class="shopMain-profile">
                            <img src="/static/images/mypage_imgs/profile.png" alt="프로필">
                            <a class="myShopMain-text-link" href=""><br>회원정보</a>
                            <p>회원이신 고객님의 개인정보를<br>
                                관리하는 공간입니다.</p>
                            
                        </li>
                        <li class="shopMain-board">
                            <img src="/static/images/mypage_imgs/board.png" alt="게시판">
                            <a class="myShopMain-text-link" href=""><br>게시물 관리</a>
                            <p>고객님께서 작성하신 게시물을<br>
                                관리하는 공간입니다.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="view_up">
                <button type="button"><i class="fa-solid fa-arrow-up"></i></button>
            </div>
        </article>
        <footer>
            <div class="f_in">
                <ul class="f_info">
                    <li><button type="button">회사소개</button></li>
                    <li><button type="button">이용약관</button></li>
                    <li><button type="button">쇼핑몰이용안내</button></li>
                    <li><button type="button">개인정보취급방침</button></li>
                    <li><button type="button">고객센터</button></li>
                </ul>
                <div class="f_info2">
                    <div class="customer">
                        <h3>CUSTOMER CENTER</h3>
                        <strong><i class="fa-solid fa-phone"></i>  1600-1593</strong>
                        <span><b>평일</b> 오전 10:00 ~ 오후 06:00</span>
                        <span><b>점심</b> 오후 01:00 ~ 오후 02:00</span>
                        <span><b>온라인 고객센터</b> 1600-1593 (내선번호 1번)</span>
                    </div>
                    <div class="return">
                        <h3>RETURN & EXCHANGE</h3>
                        <strong>온라인 스토어는 각 입점업체(브랜드)에서 발송되는 상품과
                            자체 발송되는 상품으로 나누어져 있습니다.<br></strong>
                        <span>브랜드 및 제품에 따라 출고지가 다르기 때문에 고객님께 보낸 주소 그대로
                            <br>각 입점 업체측으로 반송하셔야 처리됩니다.
                            <br>각 브랜드 주소가 아닌 온라인스토어로 반품을 보내실 경우
                            <br>처리지연 또는 추가 배송비가 발생할 수 있습니다.
                        </span>
                    </div>
                </div>
                    <address>
                        <h3>회사정보</h3>
                        <span>상호명: 주식회사롸킥스  대표자명: 정현우  대표전화: 1600-1593
                            <br>소재지: 14558 경기도 부천시 원미동 9-9 3층
                            <br>사업자 등록번호: 372-87-01069
                        </span>
                    </address>
            </div>
        </footer>
    </div>
    <script src="/static/js/head-nav.js"></script>
</body>
</html>