<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contents</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/category.css">
</head>
<body>
    <div id="container">
        <header>
            <div id="h_top">
                <ul class="h_mn">
                    <li><button type="button" >로그인</button></a> </li>
                    <li><button type="button" >회원가입</button></a></li>
                    <li><button type="button">장바구니</button> </li>
                    <li><button type="button">마이페이지</button> </li>
                </ul>
                <div class="h_main">
                    <a href="/main"><img src="/static/images/logo.png" alt="logo"></a>
                </div>
            </div>
            <nav>
                <ul class="nav">
                    <li><button type="button">OUTER</button></li>
                    <li><button type="button">TOP</button></li>
                    <li><button type="button">BOTTOM</button></li>
                    <li><button type="button">HEADWEAR</button></li>
                    <li><button type="button">ACCESSORY</button></li>
                </ul>
            </nav>
        </header>
        <article>
            <div id="content">
            <div class="c-header">

                <div class="c-title">
                    <div class="tit-baner"></div>
                    <h2>OUTER</h2>
                </div>
                <ul class="c-menu">
                    <li>                       
                        <a href="">
                            <button type="button">
                                Jaecket</button> 
                        </a>                       
                    </li>
                    <li>                       
                        <a href="">
                            <button type="button">
                            Jip-up</button> 
                        </a>                       
                    </li>
                    <li>                       
                        <a href="">
                            <button type="button">
                                Jumper</button> 
                        </a>                       
                    </li>
                    <li>                       
                        <a href="">
                            <button type="button">
                                Coat</button> 
                        </a>                       
                    </li>
                    <li>                       
                        <a href="">
                            <button type="button">
                                Fur/Mustang</button> 
                        </a>                       
                    </li>
                    
                </ul>
            </div>
            <div class="c-main">
                <div class="listmenu">
                    <div class="function">
                        <p class="prdCount">
                            ITEMS
                        </p>
                        <ul id="type" class="ct-oderby">
                            <li class="ct-record">
                                <a href="">신상품</a>
                            </li>
                            <li class="ct-record">
                                <a href="">상품명</a>
                            </li>
                            <li class="ct-record">
                                <a href="">낮은가격</a>
                            </li>
                            <li class="ct-record">
                                <a href="">높은가격</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="item-list">
                    <ul class="item-prdlist">
                        <!-- 데이터베이스 리스트  -->
                        <li class="item">
                            <div class="item-img">                               
                            </div>
                            <div class="item-description">
                                <p class="item-name">
                                    <a href="">
                                        <span class="item-name-font">
                                            상품명
                                        </span>
                                    </a>
                                </p>
                                <div class="line-mov"></div>
                                <ul class="itemspec">
                                    <li>
                                        <span>
                                            판매가
                                        </span>
                                    </li>
                                    <li>
                                       <span class="item-brand-span">
                                        제조사
                                       </span> 
                                    </li>
                                </ul>
                            </div>
                        </li>                      
                        <!-- 데이터베이스 리스트  -->
                    </ul>
                </div>
            </div>
            <div class="c-bottom"></div>
            <!-- 컨텐츠  -->




            </div>
        </article>
        <footer>
            <div class="f_in">
                <ul class="f_info">
                    <li><button type="button">회사소개</button></li>
                    <li><button type="button">이용약관</button></li>
                    <li><button type="button">쇼핑몰이용안내</button></li>
                    <li><button type="button">개인정보취급방침</button></li>
                    <li><button type="button">고객센터</button></li>
                </ul>
                <div class="f_info2">
                    <div class="customer">
                        <h3>CUSTOMER CENTER</h3>
                        <strong><i class="fa-solid fa-phone"></i>  1600-1593</strong>
                        <span><b>평일</b> 오전 10:00 ~ 오후 06:00</span>
                        <span><b>점심</b> 오후 01:00 ~ 오후 02:00</span>
                        <span><b>온라인 고객센터</b> 1600-1593 (내선번호 1번)</span>
                    </div>
                    <div class="return">
                        <h3>RETURN & EXCHANGE</h3>
                        <strong>온라인 스토어는 각 입점업체(브랜드)에서 발송되는 상품과
                            자체 발송되는 상품으로 나누어져 있습니다.<br></strong>
                        <span>브랜드 및 제품에 따라 출고지가 다르기 때문에 고객님께 보낸 주소 그대로
                            <br>각 입점 업체측으로 반송하셔야 처리됩니다.
                            <br>각 브랜드 주소가 아닌 온라인스토어로 반품을 보내실 경우
                            <br>처리지연 또는 추가 배송비가 발생할 수 있습니다.</div>
                        </span>
                    </div>
                    <address>
                        <h3>회사정보</h3>
                        <span>상호명: 주식회사롸킥스  대표자명: 정현우  대표전화: 1600-1593
                            <br>소재지: 14558 경기도 부천시 원미동 9-9 3층
                            <br>사업자 등록번호: 372-87-01069
                        </span>
                    </address>
                </div>
            </div>
        </footer>
    </div>
    <script src="/static/js/head-nav.js"></script>
</body>
</html>